body {
    background-image:
            linear-gradient(rgba(148, 204, 67, 0.4), rgba(148, 204, 67, 0.4)),
            url("../img/stressed.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: bottom;
}